/*  your css code here. If applicable */
h1,h2{
	text-align: center
}
li{
	list-style-type: none
}
a{
	text-decoration-line: none
}
 .player_one,
    .player_two {
      background-color: rgb(255, 255, 255);
      padding: 16px;
      border-radius: 12px;
}
body{
	background-color: rgb(204, 204, 204)
}
